<form [formGroup]="libraryForm" (ngSubmit)="onSubmit()">
  <!-- <div>
    <label for="libraryName">Library Name:</label>
    <input id="libraryName" formControlName="libraryName" />
  </div> -->
  <div class="mb-5">
    <label
      for="libraryName"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >
      libraryName</label
    >
    <input
      formControlName="libraryName"
      id="libraryName"
      type="text"
      placeholder="Library Name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
    <div
      *ngIf="
        libraryForm.get('libraryName')?.invalid &&
        libraryForm.get('libraryName')?.touched
      "
    >
      Library Name is required
    </div>
  </div>
  <div class="mb-5">
    <label
      for="location"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >
      location</label
    >
    <input
      formControlName="location"
      id="location"
      type="text"
      placeholder="Location"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
    <div
      *ngIf="
        libraryForm.get('location')?.invalid &&
        libraryForm.get('location')?.touched
      "
    >
      Location is required
    </div>
  </div>

  <div formArrayName="books">
    <div *ngFor="let book of books.controls; let i = index" [formGroupName]="i">
      <!-- <label for="bookTitle">Book Title:</label>
      <input id="bookTitle" formControlName="bookTitle" /> -->

      <div class="mb-5">
        <label
          for="bookTitle"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Book Title:</label
        >
        <input
          formControlName="bookTitle"
          id="bookTitle"
          type="text"
          placeholder="Book Title"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <div
          *ngIf="
            book.get('bookTitle')?.invalid && book.get('bookTitle')?.touched
          "
        >
          Book Title is required
        </div>
      </div>
      <div class="mb-5">
        <label
          for="author"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Author::</label
        >
        <input
          formControlName="author"
          id="author"
          type="text"
          placeholder="Author"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <div *ngIf="book.get('author')?.invalid && book.get('author')?.touched">
          Author is required
        </div>
      </div>
      <!-- <label for="author">Author:</label>
      <input id="author" formControlName="author" /> -->

      <button type="button" (click)="removeBook(i)">Remove Book</button>
    </div>
  </div>

  <!-- <button type="button" (click)="addBook()">Add Book</button> -->
  <div>
    <button type="button" (click)="addBook()">Add Book</button>
  </div>
  <button type="submit">Submit</button>
</form>
