<button
  type="button"
  [routerLink]="['/rentalCreate']"
  class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
>
  Create Rental
</button>

<nz-select [ngModel]="'all'" (ngModelChange)="onFilterChange($event)">
  <nz-option nzValue="all" nzLabel="Rental All"></nz-option>
  <nz-option nzValue="returnRentals" nzLabel="Returned Rentals"></nz-option>
  <nz-option nzValue="rentals" nzLabel="Active Rentals"></nz-option>
</nz-select>

<nz-table ngSkipHydration #basicTable [nzData]="rentals">
  <thead>
    <tr>
      <th>Rental ID</th>
      <th>Rental Date</th>
      <th>Return Date</th>
      <th>Book Title</th>
      <th>User Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of basicTable.data">
      <td>{{ rental.rentalid }}</td>
      <td>{{ rental.rentalDate | date : "dd/MM/yyyy h" }}</td>
      <td *ngIf="!editCache[rental.rentalid]?.edit">
        {{ rental.returnDate | date : "dd/MM/yyyy h" }}
      </td>
      <td *ngIf="editCache[rental.rentalid]?.edit">
        <input
          [(ngModel)]="editCache[rental.rentalid].data.returnDate"
          type="date"
        />
      </td>
      <td>{{ rental.book.bookTitle }}</td>
      <td>
        {{ rental.libraryUser.firstName }} {{ rental.libraryUser.lastName }}
      </td>
      <td>
        <button
          style="margin-right: 8px"
          *ngIf="!editCache[rental.rentalid]?.edit"
          (click)="startEdit(rental.rentalid)"
        >
          Edit
        </button>
        <button
          style="margin-right: 8px"
          *ngIf="editCache[rental.rentalid]?.edit"
          (click)="saveEdit(rental.rentalid)"
        >
          Save
        </button>
        <button
          style="margin-right: 8px"
          *ngIf="editCache[rental.rentalid]?.edit"
          (click)="cancelEdit(rental.rentalid)"
        >
          Cancel
        </button>
        <button (click)="deleteRental(rental.rentalid)">Delete</button>
      </td>
    </tr>
  </tbody>
</nz-table>
