<div style="padding:  100px 0px 400px 0;">
    <form class="max-w-sm mx-auto" [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-5">
            <label for="bookId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> bookId</label>
            <input formControlName="bookId" id="bookId" type="text" [(ngModel)]="bookId" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  />
          </div>
          <div class="mb-5">
            <label for="bookTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> bookTitle</label>
            <input formControlName="bookTitle" id="bookTitle" type="text"  class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  />
          </div>
          <div class="mb-5">
            <label for="author" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> author</label>
            <input formControlName="author" id="author" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  />
          </div>
          <div class="mb-5">
            <label for="libraryId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> libraryId</label>
            <input formControlName="libraryId" id="libraryId" type="text"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  />
          </div>
     
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      </form>
</div>



