<form (ngSubmit)="onSubmit()" class="rental-form">
  <div class="grid-container">
    <!-- <div class="form-group">
      <label for="bookId">Book ID</label>
      <input
        [(ngModel)]="rental.bookId"
        name="bookId"
        id="bookId"
        type="number"
        class="form-control"
        required
      />
    </div> -->
    <div class="form-group">
      <label
        for="bookId"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >User</label
      >
      <select
        [(ngModel)]="rental.bookId"
        name="bookId"
        id="bookId"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <ng-container *ngFor="let book of book">
          <option [value]="book.bookId">
            {{ book.bookTitle }} && {{ book.author }}
          </option>
        </ng-container>
      </select>
    </div>
    <div class="form-group">
      <label
        for="userId"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >User</label
      >
      <select
        [(ngModel)]="rental.userId"
        name="userid"
        id="userid"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <ng-container *ngFor="let user of libraryUser">
          <option [value]="user.libraryUserId">
            {{ user.firstName }} {{ user.lastName }}
          </option>
        </ng-container>
      </select>
    </div>
  </div>

  <div class="form-group submit-section">
    <button type="submit" class="btn btn-primary">Save Rental</button>
  </div>
</form>
