<form (ngSubmit)="addLibrary()" class="library-form">
  <div class="library-grid">
    <div class="form-group">
      <label for="libraryName">Library Name:</label>
      
      <input
        nz-input
        placeholder="Library Name"
        id="libraryName"
        [(ngModel)]="library.libraryName"
        name="libraryName"
        nzSize="default"
        required
      />
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      <input
        nz-input
        placeholder="Location"
        id="location"
        [(ngModel)]="library.location"
        name="location"
        nzSize="default"
        required
      />
    </div>
  </div>

  <div class="books-section">
    <div class="book-grid" *ngFor="let book of library.books; let i = index">
      <div class="form-group">
        <label for="bookId">Book ID:</label>
        <input type="number" id="bookId"  [(ngModel)]="book.bookId" name="bookId-{{i}}" required />
      </div>
      <div class="form-group">
        <label for="bookTitle">Book Title:</label>
        <input type="text" id="bookTitle" [(ngModel)]="book.bookTitle" name="bookTitle-{{i}}" required />
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" id="author" [(ngModel)]="book.author" name="author-{{i}}" required />
      </div>
      <button type="button" class="button-primary" (click)="removeBook(library, i)">Remove Book</button>
    </div>
    <button type="button" class="button-primary" (click)="addBook(library)">Add Book</button>
  </div>

  <div class="form-group submit-section">
    <button type="submit" class="submit-button">Add Library</button>
  </div>
</form>
